<html>
<body>
	<form action = "http://localhost:5000/result" method = "POST">

		<p>Driver 
			<select name="driver">
				<option value="LEC">LEC</option>
				<option value="VER">VER</option>
			</select>
		</p>

		<p>Race 
			<select name="race">
				<option value="Austria">Austria</option>
				<option value="Silverstone">Silverstone</option>
			</select>
		</p>

		<p>Session 
			<select name="session">
				<option value="Q">Q</option>
				<option value="R">R</option>
			</select>
		</p>

		<p><input type="submit" value="SUBMIT" /></p>
	</form>
</body>
</html>